html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Heebo", sans-serif;
  color: #fff;
  background-color: #000;
}

.red {
  color: #ff0022;
}

.clear {
  clear: both;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #040404;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #040404;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #040404;
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }

  header {
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    margin: auto;
    right: 0;
    left: 0;
    padding: 20px 75px;
  }
  header.black {
    background: rgba(0, 0, 0, 0.4);
  }
  header.black .logo {
    width: 4.5%;
  }
  header .logo {
    float: left;
    width: 9.7%;
  }
  header ul {
    float: right;
    direction: rtl;
  }
  header ul .menu-item {
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 4rem;
  }
  header ul .menu-item.active {
    border-bottom: 5px solid #ff0022;
  }
  header ul .menu-item a {
    text-decoration: none;
    font-size: 2rem;
  }

  .section {
    position: relative;
    width: 1920px;
    max-width: 100%;
    padding: 2.8% 2.8% 0 2.8%;
    box-sizing: border-box;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
  }
  .section .section-content {
    z-index: 2;
    position: relative;
    height: 100%;
  }
  .section .cover {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #info,
#form {
    direction: rtl;
  }

  #info {
    padding-top: 10rem;
  }
  #info h1 {
    font-size: 4rem;
  }
  #info h2 {
    font-size: 2.5rem;
  }
  #info .instructions {
    display: flex;
    margin-top: 15%;
    color: #000;
    min-height: 350px;
    padding-top: 3%;
    box-sizing: border-box;
  }
  #info .instructions .box {
    flex: 2;
    font-size: 2rem;
  }
  #info .instructions .box .title {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 1.3em;
  }
  #info .instructions .box .content {
    font-size: 1.6rem;
  }
  #info .instructions .box .link-wrapper {
    margin-top: 2em;
    display: flex;
  }
  #info .instructions .box .link-wrapper .link {
    padding-left: 0.2em;
  }
  #info .instructions .box .link-wrapper .link img {
    display: block;
    width: 100%;
  }
  #info .instructions .arrow {
    flex: 1;
    text-align: left;
    margin-top: 3em;
  }
  #info .instructions .arrow img {
    width: 20%;
    margin-left: 4em;
  }

  #form {
    padding-top: 10em;
    padding-bottom: 3em;
  }
  #form .car-logo {
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
    width: 10%;
  }
  #form .title {
    display: inline-block;
    font-size: 1.9em;
    vertical-align: top;
    margin-left: 6%;
    padding-top: 1%;
  }
  #form .error_message {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  #form .success_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    display: none;
  }
  #form .success_overlay.show {
    display: flex;
  }
  #form form#lead-form {
    position: relative;
  }
  #form .upload-form {
    display: inline-block;
    margin-left: 4%;
    position: relative;
    width: 20%;
  }
  #form .upload-form .preview {
    position: relative;
    width: 100%;
    height: 431px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #form .upload-form .preview .upload-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    max-width: 160px;
  }
  #form .upload-form .preview.error {
    box-sizing: border-box;
    border: 3px solid red;
  }
  #form .upload-form .dz-preview {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 560px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
  }
  #form .upload-form img.thumbnail {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  #form .upload-form .custom-file-upload {
    color: #888888;
    width: 100%;
    border: 1px solid #fff;
    display: block;
    margin-top: 26px;
    font-size: 2em;
    text-align: center;
    padding: 0.6em 0;
    box-sizing: border-box;
  }
  #form .upload-form .custom-file-upload.error {
    border: 3px solid red;
  }
  #form .upload-form #file-upload {
    opacity: 0;
    position: absolute;
  }
  #form .upload-form #img_error {
    margin-bottom: 0;
  }
  #form .lead-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 22%;
  }
  #form .lead-wrapper .form-text {
    font-size: 1.4em;
    margin-bottom: 30px;
  }
  #form .lead-wrapper .input {
    width: 100%;
    padding: 0.45em 5px;
    margin: 0.5em 0;
    font-size: 1.8em;
    display: block;
    outline: none !important;
    box-sizing: border-box;
  }
  #form .lead-wrapper .input.error {
    border: 3px solid #ff0022;
    margin: 0.5em 0;
  }
  #form .lead-wrapper .checkbox {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-left: 4%;
  }
  #form .lead-wrapper .checkbox.error {
    outline: 3px solid #ff0022;
  }
  #form .lead-wrapper .approve-wrapper {
    width: 140%;
  }
  #form .lead-wrapper .custom-approve {
    display: inline-block;
    vertical-align: top;
    font-size: 1.5em;
  }
  #form .lead-wrapper .submit {
    display: block;
    color: #fff;
    width: 100%;
    border: none;
    display: block;
    margin-top: 26px;
    font-size: 2em;
    text-align: center;
    padding: 0.6em 0;
    background: #ff0022;
  }

  #gallery {
    padding-top: 9rem;
    padding-bottom: 4.5rem;
  }
  #gallery .keen-slider {
    position: relative;
    max-width: 1320px;
    margin: auto;
    /* the slides */
    /* the parent */
  }
  #gallery .keen-slider .keen-slider__slide {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #gallery .keen-slider .slick-slide {
    margin: 0 27px;
  }
  #gallery .keen-slider .slick-list {
    margin: 0 -27px;
  }
  #gallery .keen-slider img {
    display: block;
    margin: auto;
    width: 100%;
    max-height: 35rem;
    padding-bottom: 38.5px;
    box-sizing: border-box;
  }
  #gallery .keen-slider .user_name {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5em 0;
    margin: auto;
    position: absolute;
    bottom: 0;
  }
  #gallery [class^=number-slide],
#gallery [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    color: #fff;
    font-weight: 500;
    height: 300px;
    max-height: 100vh;
  }
  #gallery .navigation-wrapper {
    position: relative;
  }
  #gallery .dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
  }
  #gallery .dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }
  #gallery .dot:focus {
    outline: none;
  }
  #gallery .dot--active {
    background: #000;
  }
  #gallery .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
  }
  #gallery .arrow--left {
    left: 0;
  }
  #gallery .arrow--right {
    left: auto;
    right: 0;
  }
  #gallery .arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-image: url("./assets/images/mobile-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #ffc171;
    position: relative;
  }

  .desktop-only {
    display: none !important;
  }

  header {
    width: 100%;
    direction: rtl;
  }
  header .red-bar {
    width: 57.8125%;
    height: 15px;
    background-color: #ff0022;
    margin-bottom: 25px;
  }
  header ul {
    padding: 0 35px;
    box-sizing: border-box;
    z-index: -1;
    display: flex;
    align-items: center;
  }
  header ul .hamburger {
    z-index: 0;
    width: 10%;
  }
  header ul .wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    opacity: 0;
    background: rgba(39, 39, 47, 0.98);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    display: none;
  }
  header ul .wrapper.active {
    opacity: 1;
    z-index: 2;
  }
  header ul .wrapper.size-up {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
  }
  header ul .close-popup {
    width: 40px;
    height: 40px;
    margin-right: 45px;
    margin-bottom: 30%;
  }
  header ul .logo {
    margin-right: auto;
    width: 15%;
  }
  header ul .menu-item {
    text-align: center;
    max-width: 310px;
    margin: auto;
    border-bottom: 1px solid #fff;
    padding: 40px 0;
  }
  header ul .menu-item:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
  header ul .menu-item:first-of-type {
    padding-top: 0;
  }
  header ul .menu-item a {
    color: white;
    text-decoration: none;
    font-size: 2.66rem;
  }

  .section {
    z-index: 1;
  }

  #info,
#form {
    direction: rtl;
  }

  #info {
    margin-top: 0.5em;
    text-align: center;
  }
  #info h1 {
    font-size: 1.66rem;
    font-weight: 500;
    margin-bottom: 25px;
  }
  #info h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
  }
  #info .car-logo {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  #info .instructions {
    color: #040404;
  }
  #info .instructions .sub-title {
    font-weight: bold;
    font-size: 1.46rem;
    margin-bottom: 30px;
  }
  #info .instructions .arrow {
    margin-bottom: 30px;
  }
  #info .instructions .box {
    margin-bottom: 30px;
  }
  #info .instructions .box .title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  #info .instructions .box .content {
    font-size: 1rem;
  }
  #info .instructions .box .link-wrapper {
    margin-top: 30px;
  }
  #info .instructions .box .link-wrapper .link {
    display: inline-block;
    width: 40%;
  }
  #info .instructions .box .link-wrapper .link img {
    width: 100%;
  }

  #form {
    color: #040404;
    text-align: center;
  }
  #form .title {
    font-size: 1.8rem;
    margin-bottom: 5%;
  }
  #form .error_message {
    color: #000;
    font-size: 1.1em;
    text-align: right;
    width: 80%;
    margin: auto;
    margin-bottom: 0.3em;
  }
  #form .error_message#approve_error {
    margin-top: 0.3em !important;
  }
  #form .error_message#img_error {
    text-align: center;
  }
  #form form#lead-form {
    position: relative;
  }
  #form .success_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 80%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    display: none;
  }
  #form .success_overlay.show {
    display: flex;
  }
  #form .custom-file-upload {
    background-color: #ff0022;
    width: 80%;
    margin: auto;
    color: #fff;
    font-size: 1.3rem;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    box-sizing: border-box;
  }
  #form .custom-file-upload.error {
    border: 5px solid #000;
  }
  #form .custom-file-upload img {
    max-width: 35px;
    margin-left: 15px;
  }
  #form #file-upload {
    opacity: 0;
    position: absolute;
  }
  #form .lead-wrapper .form-text {
    text-align: right;
    color: #040404;
    font-size: 1.3rem;
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
  }
  #form .input {
    width: 80%;
    font-size: 1.3rem;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 2.5%;
    outline: none;
    border: none;
  }
  #form .approve-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
  }
  #form input#approve {
    width: 35px;
    height: 35px;
    margin-left: 15px;
  }
  #form .custom-approve {
    text-align: right;
    font-size: 1rem;
  }
  #form .submit {
    background-color: #ff0022;
    width: 80%;
    margin: auto;
    color: #fff;
    font-size: 1.3rem;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    border: none;
    margin-top: 30px;
  }

  #gallery {
    background-color: #282830;
    text-align: center;
    padding-top: 3.66rem;
  }
  #gallery .slide-wraper {
    width: 100%;
    height: 100%;
  }
  #gallery .slide-wraper div {
    display: inline-block;
    min-height: 50%;
    position: relative;
  }
  #gallery .title {
    color: #fdfdfd;
    font-size: 1.2rem;
    margin-bottom: 4.33rem;
    direction: rtl;
  }
  #gallery .navigation-wrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 0.3em;
    position: relative;
  }
  #gallery .navigation-wrapper .keen-slider__slide {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #gallery .navigation-wrapper .keen-slider__slide img {
    display: block;
    width: 100%;
    padding-bottom: 38.5px;
    box-sizing: border-box;
  }
  #gallery .navigation-wrapper .keen-slider__slide .user_name {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 1rem;
    padding: 0.5em 0;
    margin: auto;
    position: absolute;
    bottom: 3px;
  }
  #gallery .navigation-wrapper #arrow-left {
    position: absolute;
    top: 50%;
    left: -30px;
    width: 20px;
  }
  #gallery .navigation-wrapper #arrow-right {
    position: absolute;
    top: 50%;
    right: -30px;
    width: 20px;
  }

  .blue-bar {
    background-color: #282830;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  html {
    font-size: 14px;
  }

  #form .lead-wrapper .custom-approve {
    font-size: 1.3em;
  }

  #info .instructions {
    margin-top: 13%;
  }

  #form .upload-form .preview {
    height: 403px;
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1400px) {
  html {
    font-size: 13px;
  }

  #form .lead-wrapper .custom-approve {
    font-size: 1.25em;
  }

  #form .upload-form .preview {
    height: 371px;
  }

  #form .lead-wrapper .form-text {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1250px) {
  html {
    font-size: 13px;
  }

  #info .instructions {
    margin-top: 13%;
  }

  #form .upload-form .preview {
    height: 353px;
  }

  #form .lead-wrapper .checkbox {
    width: 30px;
    height: 30px;
    margin-left: 2%;
  }

  #form .lead-wrapper .custom-approve {
    font-size: 1.2em;
  }

  #form .title {
    font-size: 1.7em;
  }

  #form .lead-wrapper .input {
    margin: 0.5em 0;
  }

  #form .title {
    font-size: 1.7em;
    font-size: 1.7em;
  }

  #form .lead-wrapper .form-text {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  html {
    font-size: 11px;
  }

  #info .instructions {
    margin-top: 13%;
  }

  #form .upload-form .preview {
    height: 310px;
  }

  #form .lead-wrapper .checkbox {
    width: 30px;
    height: 30px;
    margin-left: 2%;
  }

  #form .lead-wrapper .custom-approve {
    font-size: 1.2em;
  }

  #form .title {
    font-size: 1.7em;
    font-size: 1.7em;
  }

  #form .lead-wrapper .form-text {
    font-size: 1em;
  }

  #form .title {
    font-size: 1.7em;
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  html {
    font-size: 11px;
  }

  #info .instructions {
    margin-top: 13%;
  }

  #form .upload-form .preview {
    height: 267px;
  }

  #form .lead-wrapper .checkbox {
    width: 20px;
    height: 20px;
    margin-left: 2%;
  }

  #form .lead-wrapper .custom-approve {
    font-size: 1em;
  }

  #form .title {
    font-size: 1.7em;
  }

  #form .lead-wrapper .input {
    font-size: 1.5em;
  }

  #form .lead-wrapper .form-text {
    font-size: 1em;
  }

  #form .title {
    font-size: 1.7em;
    font-size: 1.7em;
  }

  #form {
    padding-bottom: 0em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 800px) {
  html {
    font-size: 10px;
  }

  #info .instructions {
    margin-top: 11%;
  }

  #form .upload-form .preview {
    height: 251px;
  }

  #form .lead-wrapper .checkbox {
    width: 20px;
    height: 20px;
    margin-left: 2%;
  }

  #form .lead-wrapper .custom-approve {
    font-size: 1em;
  }

  #form .title {
    font-size: 1.7em;
  }

  #form .lead-wrapper .input {
    font-size: 1.5em;
  }

  #form .lead-wrapper .form-text {
    font-size: 1em;
  }

  #form .title {
    font-size: 1.7em;
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 700px) and (max-width: 768px) {
  html {
    font-size: 35px;
  }
}
@media only screen and (min-width: 650px) and (max-width: 700px) {
  html {
    font-size: 33px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 650px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 600px) {
  html {
    font-size: 26px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 540px) {
  html {
    font-size: 22px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 450px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 400px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 350px) {
  html {
    zoom: 0.85;
    font-size: 12px;
  }
}
