html {
    font-size: 15px !important;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Heebo", sans-serif;
    color: #fff;
    background-color: #000;
}

.red {
    color: #ff0022;
}
.clear {
    clear: both;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #040404;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #040404;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #040404;
}
// DESKTOP
@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
    header {
        width: 100%;
        max-width: 1920px;
        box-sizing: border-box;
        position: fixed;
        z-index: 3;
        margin: auto;
        right: 0;
        left: 0;
        padding: 20px 75px;

        &.black {
            background: hsla(0, 0%, 0%, 0.4);

            .logo {
                width: 4.5%;
            }
        }
        .logo {
            float: left;
            width: 9.7%;
        }
        ul {
            float: right;
            direction: rtl;
            .menu-item {
                display: inline-block;
                padding-bottom: 10px;
                margin-left: 4rem;
                &.active {
                    border-bottom: 5px solid #ff0022;
                }
                a {
                    text-decoration: none;
                    font-size: 2rem;
                }
            }
        }
    }
    .section {
        position: relative;
        width: 1920px;
        max-width: 100%;
        padding: 2.8% 2.8% 0 2.8%;
        box-sizing: border-box;
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #fff;
        .section-content {
            z-index: 2;
            position: relative;
            height: 100%;
        }
        .cover {
            display: block;
            position: absolute;
            z-index: 0;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    #info,
    #form {
        direction: rtl;
    }
    #info {
        padding-top: 10rem;
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        .instructions {
            display: flex;
            margin-top: 15%;
            color: #000;
            min-height: 350px;
            padding-top: 3%;
            box-sizing: border-box;

            .box {
                flex: 2;
                font-size: 2rem;
                .title {
                    font-size: 1.9rem;
                    font-weight: bold;
                    margin-bottom: 1.3rem;
                }
                .content {
                    font-size: 1.6rem;
                }
                .link-wrapper {
                    margin-top: 2rem;
                    display: flex;
                    .link {
                        padding-left: 0.2rem;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            .arrow {
                flex: 1;
                text-align: left;
                margin-top: 3rem;
                img {
                    width: 20%;
                    margin-left: 4rem;
                }
            }
        }
    }
    #form {
        padding-top: 10rem;
        padding-bottom: 3rem;
        .car-logo {
            display: inline-block;
            vertical-align: top;
            margin-left: 4%;
            width: 10%;
        }
        .title {
            display: inline-block;
            font-size: 1.9rem;
            vertical-align: top;
            margin-left: 6%;
            padding-top: 1%;
        }

        .error_message {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        .success_overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 100%;
            width: 100%;
            background: #fff;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            display: none;
            &.show {
                display: flex;
            }
        }

        // form#lead-form {
        //     position: relative;
        // }

        .upload-form {
            display: inline-block;
            margin-left: 4%;
            position: relative;
            width: 20%;
            .preview {
                position: relative;
                width: 100%;
                height: 450px;
                // background-image: url("./assets/images/upload.png");
                // background-position: center center;
                // background-repeat: no-repeat;
                background-color: #fff;
                // background-size: 70%;
                display: flex;
                align-items: center;
                justify-content: center;

                .upload-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 70%;
                    max-width: 160px;
                }

                &.error {
                    box-sizing: border-box;
                    border: 3px solid red;
                }
            }
            .dz-preview {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            img.thumbnail {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
        .upload-form {
            .custom-file-upload {
                color: #888888;
                width: 100%;
                border: 1px solid #fff;
                display: block;
                margin-top: 26px;
                font-size: 2rem;
                text-align: center;
                padding: 0.6em 0;
                box-sizing: border-box;
                &.error {
                    border: 3px solid red;
                }
            }
            #file-upload {
                opacity: 0;
                position: absolute;
            }
            #img_error {
                margin-bottom: 0;
            }
        }
        .lead-wrapper {
            display: inline-block;
            vertical-align: top;
            width: 22%;
            position: relative;
            .form-text {
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }

            .input {
                width: 100%;
                padding: 0.45em 5px;
                margin: 0.5em 0;
                font-size: 1.8rem;
                display: block;
                outline: none !important;
                box-sizing: border-box;
                &.error {
                    border: 3px solid #ff0022;
                    margin: 0.5em 0;
                }
            }
            .checkbox {
                display: inline-block;
                width: 42px;
                height: 42px;
                margin-left: 4%;
                &.error {
                    outline: 3px solid #ff0022;
                }
            }

            .approve-wrapper {
                width: 140%;
            }

            .custom-approve {
                display: inline-block;
                vertical-align: top;
                font-size: 1.5rem;
            }
            .submit {
                display: block;
                color: #fff;
                width: 100%;
                border: none;
                display: block;
                margin-top: 26px;
                font-size: 2rem;
                text-align: center;
                padding: 0.6em 0;
                background: #ff0022;
                position: absolute;
                bottom: 0;
            }
        }
    }
    #gallery {
        padding-top: 9rem;
        padding-bottom: 4.5rem;

        .keen-slider {
            position: relative;
            max-width: 1320px;
            margin: auto;

            .keen-slider__slide {
                display: flex;
                flex-direction: column;
                position: relative;
            }

            /* the slides */
            .slick-slide {
                margin: 0 27px;
            }
            /* the parent */
            .slick-list {
                margin: 0 -27px;
            }

            img {
                display: block;
                margin: auto;
                width: 100%;
                max-height: 35rem;
                padding-bottom: 38.5px;
                box-sizing: border-box;
            }
            .user_name {
                width: 100%;
                background-color: #ffffff;
                color: #000000;
                text-align: center;
                font-size: 1.3rem;
                padding: 0.5em 0;
                margin: auto;
                position: absolute;
                bottom: 0;
            }
        }

        [class^="number-slide"],
        [class*=" number-slide"] {
            background: grey;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
            color: #fff;
            font-weight: 500;
            height: 300px;
            max-height: 100vh;
        }

        .navigation-wrapper {
            position: relative;
            width: 80%;
            margin: auto;
        }

        .dots {
            display: flex;
            padding: 10px 0;
            justify-content: center;
        }

        .dot {
            border: none;
            width: 10px;
            height: 10px;
            background: #c5c5c5;
            border-radius: 50%;
            margin: 0 5px;
            padding: 5px;
            cursor: pointer;
        }

        .dot:focus {
            outline: none;
        }

        .dot--active {
            background: #000;
        }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            fill: #fff;
            cursor: pointer;
        }

        .arrow--left {
            left: 0;
        }

        .arrow--right {
            left: auto;
            right: 0;
        }

        .arrow--disabled {
            fill: hsla(0, 0%, 100%, 0.5);
        }
    }
}
// MOBILE
@media only screen and (max-width: 768px) {
    body {
        background-image: url("./assets/images/mobile-background.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #ffc171;
        position: relative;
    }
    .desktop-only {
        display: none !important;
    }
    header {
        width: 100%;
        direction: rtl;
        .red-bar {
            width: 57.8125%;
            height: 15px;
            background-color: #ff0022;
            margin-bottom: 25px;
        }
        ul {
            padding: 0 35px;
            box-sizing: border-box;
            z-index: -1;
            display: flex;
            align-items: center;
            .hamburger {
                z-index: 0;
                width: 10%;
            }

            .wrapper {
                position: fixed;
                top: 0;
                right: 0;
                width: 100vw;
                height: 100vh;
                padding-top: 50px;
                opacity: 0;
                background: hsla(240, 9%, 17%, 0.98);
                -webkit-transition: all 0.5s linear;
                -moz-transition: all 0.5s linear;
                -ms-transition: all 0.5s linear;
                -o-transition: all 0.5s linear;
                transition: all 0.5s linear;
                display: none;

                &.active {
                    opacity: 1;
                    z-index: 2;
                }

                &.size-up {
                    display: block;
                    width: 100vw;
                    height: 100vh;
                    position: fixed;
                    top: 0;
                    right: 0;
                }
            }
            .close-popup {
                width: 40px;
                height: 40px;
                margin-right: 45px;
                margin-bottom: 30%;
            }
            .logo {
                margin-right: auto;
                width: 15%;
            }
            .menu-item {
                text-align: center;
                max-width: 310px;
                margin: auto;
                border-bottom: 1px solid #fff;
                padding: 40px 0;
                &:last-of-type {
                    padding-bottom: 0;
                    border-bottom: none;
                }
                &:first-of-type {
                    padding-top: 0;
                }
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 2.66rem;
                }
            }
        }
    }
    .section {
        z-index: 1;
    }
    #info,
    #form {
        direction: rtl;
    }
    #info {
        margin-top: 0.5rem;
        text-align: center;
        h1 {
            font-size: 1.66rem;
            font-weight: 500;
            margin-bottom: 25px;
        }
        h2 {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 500;
        }
        .car-logo {
            // background-image: url("./assets/images/mobile-car-logo.png");
            // width: 100%;
            // height: 300px;
            width: 90%;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        .instructions {
            color: #040404;
            // margin-top: 60%;
            // margin-bottom: 25%;
            .sub-title {
                font-weight: bold;
                font-size: 1.46rem;
                margin-bottom: 30px;
            }
            .arrow {
                margin-bottom: 30px;
            }
            .box {
                margin-bottom: 30px;
                .title {
                    margin-bottom: 15px;
                    font-weight: bold;
                    font-size: 1.2rem;
                }
                .content {
                    font-size: 1rem;
                }
                .link-wrapper {
                    margin-top: 30px;
                    .link {
                        display: inline-block;
                        width: 40%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    #form {
        color: #040404;
        text-align: center;
        .title {
            font-size: 1.8rem;
            margin-bottom: 5%;
        }
        .error_message {
            color: #000;
            font-size: 1.1rem;
            text-align: right;
            width: 80%;
            margin: auto;
            margin-bottom: 0.3rem;

            &#approve_error {
                margin-top: 0.3em !important;
            }

            &#img_error {
                text-align: center;
            }
        }

        form#lead-form {
            position: relative;
        }

        .success_overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 100%;
            width: 80%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            display: none;
            &.show {
                display: flex;
            }
        }

        .custom-file-upload {
            background-color: #ff0022;
            width: 80%;
            margin: auto;
            color: #fff;
            font-size: 1.3rem;
            padding: 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 8%;
            box-sizing: border-box;
            &.error {
                border: 5px solid #000;
            }
            img {
                max-width: 35px;
                margin-left: 15px;
            }
        }
        #file-upload {
            opacity: 0;
            position: absolute;
        }

        .lead-wrapper {
            .form-text {
                text-align: right;
                color: #040404;
                font-size: 1.3rem;
                width: 80%;
                margin: auto;
                margin-bottom: 10%;
            }
        }
        .input {
            width: 80%;
            font-size: 1.3rem;
            padding: 10px 20px;
            box-sizing: border-box;
            margin-bottom: 2.5%;
            outline: none;
            border: none;
        }
        .approve-wrapper {
            width: 80%;
            margin: auto;
            display: flex;
        }

        input#approve {
            width: 35px;
            height: 35px;
            margin-left: 15px;
        }

        .custom-approve {
            text-align: right;
            font-size: 1rem;
        }

        .submit {
            background-color: #ff0022;
            width: 80%;
            margin: auto;
            color: #fff;
            font-size: 1.3rem;
            padding: 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 8%;
            border: none;
            margin-top: 30px;
        }
    }
    #gallery {
        background-color: #282830;
        // margin-top: 45%;
        text-align: center;
        padding-top: 3.66rem;

        .slide-wraper {
            width: 100%;
            height: 100%;
        }

        .slide-wraper div {
            display: inline-block;
            min-height: 50%;
            position: relative;
        }

        .title {
            color: #fdfdfd;
            font-size: 1.2rem;
            margin-bottom: 4.33rem;
            direction: rtl;
        }

        .navigation-wrapper {
            width: 80%;
            margin: auto;
            margin-bottom: 0.3rem;
            position: relative;
            .keen-slider__slide {
                display: flex;
                flex-direction: column;
                position: relative;

                // img {
                //     display: block;
                //     width: 100%;
                // }

                img {
                    display: block;
                    // margin: auto;
                    width: 100%;
                    // max-height: 35rem;
                    padding-bottom: 38.5px;
                    box-sizing: border-box;
                }
                .user_name {
                    width: 100%;
                    background-color: #ffffff;
                    color: #000000;
                    text-align: center;
                    font-size: 1rem;
                    padding: 0.5em 0;
                    margin: auto;
                    position: absolute;
                    bottom: 3px;
                }
            }

            #arrow-left {
                position: absolute;
                top: 50%;
                left: -30px;
                width: 20px;
            }

            #arrow-right {
                position: absolute;
                top: 50%;
                right: -30px;
                width: 20px;
            }
        }
    }

    .blue-bar {
        background-color: #282830;
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 10px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    html {
        font-size: 14px !important;
    }
    #form .lead-wrapper .custom-approve {
        font-size: 1.3rem;
    }
    #info .instructions {
        margin-top: 13%;
    }
    #form .upload-form .preview {
        height: 403px;
    }
}

@media only screen and (min-width: 1250px) and (max-width: 1400px) {
    html {
        font-size: 13px !important;
    }
    #form .lead-wrapper .custom-approve {
        font-size: 1.25rem;
    }
    #form .upload-form .preview {
        height: 371px;
    }
    #form .lead-wrapper .form-text {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
    html {
        font-size: 13px !important;
    }
    #info .instructions {
        margin-top: 13%;
    }
    #form .upload-form .preview {
        height: 353px;
    }
    #form .lead-wrapper .checkbox {
        width: 30px;
        height: 30px;
        margin-left: 2%;
    }
    #form .lead-wrapper .custom-approve {
        font-size: 1.2rem;
    }
    #form .title {
        font-size: 1.7rem;
    }
    #form .lead-wrapper .input {
        margin: 0.5em 0;
    }
    #form .title {
        font-size: 1.7rem;
        font-size: 1.7rem;
    }
    #form .lead-wrapper .form-text {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    html {
        font-size: 11px !important;
    }
    #info .instructions {
        margin-top: 13%;
    }
    #form .upload-form .preview {
        height: 310px;
    }
    #form .lead-wrapper .checkbox {
        width: 30px;
        height: 30px;
        margin-left: 2%;
    }
    #form .lead-wrapper .custom-approve {
        font-size: 1.2rem;
    }
    #form .title {
        font-size: 1.7rem;
        font-size: 1.7rem;
    }
    #form .lead-wrapper .form-text {
        font-size: 1rem;
    }
    #form .title {
        font-size: 1.7rem;
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    html {
        font-size: 11px !important;
    }
    #info .instructions {
        margin-top: 13%;
    }
    #form .upload-form .preview {
        height: 267px;
    }
    #form .lead-wrapper .checkbox {
        width: 20px;
        height: 20px;
        margin-left: 2%;
    }
    #form .lead-wrapper .custom-approve {
        font-size: 1rem;
    }
    #form .title {
        font-size: 1.7rem;
    }
    #form .lead-wrapper .input {
        font-size: 1.5rem;
    }
    #form .lead-wrapper .form-text {
        font-size: 1rem;
    }
    #form .title {
        font-size: 1.7rem;
        font-size: 1.7rem;
    }
    #form {
        padding-bottom: 0rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
    html {
        font-size: 10px !important;
    }
    #info .instructions {
        margin-top: 11%;
    }
    #form .upload-form .preview {
        height: 251px;
    }
    #form .lead-wrapper .checkbox {
        width: 20px;
        height: 20px;
        margin-left: 2%;
    }
    #form .lead-wrapper .custom-approve {
        font-size: 1rem;
    }
    #form .title {
        font-size: 1.7rem;
    }
    #form .lead-wrapper .input {
        font-size: 1.5rem;
    }
    #form .lead-wrapper .form-text {
        font-size: 1rem;
    }
    #form .title {
        font-size: 1.7rem;
        font-size: 1.7rem;
    }
}

// MOBILE
@media only screen and (min-width: 700px) and (max-width: 768px) {
    html {
        font-size: 35px !important;
    }
}
@media only screen and (min-width: 650px) and (max-width: 700px) {
    html {
        font-size: 33px !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 650px) {
    html {
        font-size: 30px !important;
    }
}

@media only screen and (min-width: 540px) and (max-width: 600px) {
    html {
        font-size: 26px !important;
    }
}

@media only screen and (min-width: 450px) and (max-width: 540px) {
    html {
        font-size: 22px !important;
    }
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
    html {
        font-size: 18px !important;
    }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
    html {
        font-size: 17px !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 350px) {
    html {
        font-size: 12px !important;
    }
}
